
<section>
	<div>
			<h1> Welcome back </h1>
			<h3> <%= image_tag @user.avatar.url %> </h3>
			<p> <%= @user.name %>, <%= @user.email %> </p>

    </div>


    <div>


    	<%= form_for @user, :url => @user_path, :html => { :multipart => true } do |f| %>
  		<%= f.file_field :avatar %>

  		


  <%= f.submit "submit", class: "btn btn-primary" %> <% end %>

  <% if @user.avatar? %>

  <span class=" label label-info"> pic </span>

  <%= link_to @user.avatar_filename, @user.avatar.url %>

  <% end %>

    </div>

</section>